<label>Server name:</label>
<input
       type= "text"
       class='form-control'
       (input)='onUpdateServerName($event)'
       >
<label>Server size: </label>
<input
       type= "text"
       class='form-control'
       [(ngModel)]="serverSize"
       >

<button 
        class='btn btn-primary' 
        [disabled]="!allowNewServer" 
        (click)='onCreateServer()'
        >Add server</button>
<p>{{ serverCreationStatus  }}</p>
<p *ngIf="serverCreated; else noProcess"> Now you can observe the process.</p>
<ng-template #noProcess><p>No new processes to observe</p></ng-template>
<!--<p>{{ serverName }}</p>
<p>{{ serverSize }}</p>-->
<div class='container'>
    <app-server *ngFor="let server of servers"></app-server>
</div>
