<label>Server name:</label>
<input
       type= "text"
       class='form-control'
       (input)='onUpdateServerName($event)'
       >
<label>Server size: </label>
<input
       type= "text"
       class='form-control'
       [(ngModel)]="serverSize"
       >

<button 
        class='btn btn-primary' 
        [disabled]="!allowNewServer" 
        (click)='onCreateServer()'
        >Add server</button>
<p>{{ serverCreationStatus  }}</p>
<!--<p>{{ serverName }}</p>
<p>{{ serverSize }}</p>-->
<div class='container'>
    <app-server></app-server>
    <app-server></app-server>
    <app-server></app-server>
</div>
